
.beige-background-color {
  background-color: beige !important;
}

.site-background {
  background-image: url("https://fsb.zobj.net/crop.php?r=N9YyF_7jAh9oGT-RRqr9pqKW5KrPOcnsxc01PFo1_LmsnniMeBvTJRWT6G7lo3UDro10CX7vg0oXSTtJREwfQ0IArVv1SKUhU1CpR9Ghlg3vEsr72aFSw7frcdADB4CyCEWwEvLw1AoLaLsBqvuDLK2XjceM-vg5aOrUBc5idF_yNal0hSAsdy1rWJilw2RY7bN_UV_NrTXBU9Sm");
  color: white;
  background-repeat: repeat !important;
}

h1 {
  text-align: center;
  margin-top: 10px;
  color: maroon;
  font-family: 'Mansalva';
  font-size: large;
}

h2 {
  text-align: center;
  margin-top: 10px;
  color: yellowgreen;
  font-family: 'Times New Roman';
  font-style: italic;
  font-size: 80px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

h3 {
  text-align: center;
  margin-top: 80px;
  color: maroon;
  font-family: 'Satisfy';
  font-size: larger;
}

h4 {
  text-align: center;
  margin-top: 10px;
  color: maroon;
  font-family: 'Times New Roman';
  font-style: normal;
  font-size: 55px;
}

#navbar {
  top: 0;
  position: relative;
  width: 100%;
}

.tan-background {
  background-color: tan;
  background-image: url(".idea/img/wave.jpg") !important;
  height: 220px;
}

.footer-background {
  background-color: saddlebrown;
  color: white;
  padding-top: 20px;
  padding-bottom: 40px;
  margin-top: 25px;
  height: 115px;
}

.highlight {
  background-color: rgba(255,255,255,0.5);
}

.standard {
  background-color: beige;
  font-size: large;
}

p {
  color: black;
}


.container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: rgba(255,255,255,0.5);
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
}

.container:hover .overlay {
  bottom: 0;
  height: 100%;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

* {
  box-sizing: border-box;
}

/* Position the image container (needed to position the left and right arrows) */
.container-slide {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column-slide {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}
